<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>Vignes buissonnieres</title>
</head>
<body>


       <div id="app">
        <div v-if="progression === undefined">
            <div class="mb-4 mt-4">
                <div class="container">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <a href="index-online.html">
                                <img src="img/pic-logo.png" alt="logo" class="img-fluid" >
                                <img src="img/aop-pic.png" alt="logo" class="img-fluid" >
                            </a>
                        </div>
                        <div>
                            <a style="font-weight: 400;font-size: 14px;line-height: 18px;text-decoration: none;color: #000000;" href="#">Photothèque</a>
                            <a style="margin-left:20px;font-weight: 400;font-size: 14px;line-height: 18px;text-decoration: none;color: #000000;" href="#">Contact</a>
                        </div>
                    </div>
                </div>
                <div class="mt-4" style="background-color: #790027;height: 70px;">

                </div>
            </div>
            <div class="container">

                <p class="mt-3">
                    <div class="spinner-grow" role="status">
                        <span class="sr-only">Chargement...</span>
                        Connection au serveur...
                    </div>
                </p>
            </div>

        </div>
        <div v-else-if="!id_token">
            <header class="mb-4 mt-4">
                <div class="container">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <a href="index-online.html">
                                <img src="img/pic-logo.png" alt="logo" class="img-fluid" >
                                <img src="img/aop-pic.png" alt="logo" class="img-fluid" >
                            </a>
                        </div>
                        <div>
                            <a style="font-weight: 400;font-size: 14px;line-height: 18px;text-decoration: none;color: #000000;" href="#">Photothèque</a>
                            <a style="margin-left:20px;font-weight: 400;font-size: 14px;line-height: 18px;text-decoration: none;color: #000000;" href="#">Contact</a>
                        </div>
                    </div>
                </div>
                <div class="mt-4" style="background-color: #790027;height: 70px;">

                </div>
            </header>
            <div class="container">
                <section>
                    <h2 class="mb-4" style="font-weight: 700;font-size: 24px;line-height: 30px;color: #780429;">
                        <img src="img/information.svg" alt="information">
                        Réservation de billets pour les Vignes Buissonières
                    </h2>
                    <p style="font-weight: 400;font-size: 16px;line-height: 30px;color: #494949;">
                        Bienvenue sur notre espace de vente en lignes des vignes buissionnières !
                        <br><span class="fw-bold">De nombreuses personnes souhaitent accèder à la vente des billets.
                <br>Veuillez prendre un ticket pour entrer dans la file d'attente.</span>
                    </p>
                    <button @click="newTicket" href="#" class="mb-3" style="background-color:white;text-decoration:none;border: 2px solid #780429;border-radius: 5px;display: inline-block;padding: 10px 30px;">
                        <div class="d-flex align-items-center">
                            <img src="img/ticket.svg" alt="ticket">
                            <span style="text-transform:uppercase;font-weight: 700;font-size: 20px;line-height: 25px;color: #780429;padding-left: 10px;">PRENDRE UN TICKET</span>
                        </div>
                    </button>
                </section>
            </div>
        </div>
        <div v-else>
            <section class="mb-4 mt-4">
                <div class="container">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <a href="index-online.html">
                                <img src="img/pic-logo.png" alt="logo" class="img-fluid" >
                                <img src="img/aop-pic.png" alt="logo" class="img-fluid" >
                            </a>
                        </div>
                        <div>
                            <a style="font-weight: 400;font-size: 14px;line-height: 18px;text-decoration: none;color: #000000;" href="#">Photothèque</a>
                            <a style="margin-left:20px;font-weight: 400;font-size: 14px;line-height: 18px;text-decoration: none;color: #000000;" href="#">Contact</a>
                        </div>
                    </div>
                </div>
                <div class="mt-4" style="background-color: #790027;height: 70px;">

                </div>
            </section>
            <div class="container">
                <div class="row">
                    <h2 class="mb-4" style="font-weight: 700;font-size: 24px;line-height: 30px;color: #780429;">
                        <img src="img/information.svg" alt="information">
                        Informations de position dans la file d'attente
                    </h2>
                    <p>
                        Votre numéro : <span style="color: #780429;font-weight: bold">{{id_token}}</span>
                    </p>

                    <div v-if="valid_but_expired">
                        <section>
                            <h2 class="mb-4" style="font-weight: 700;font-size: 24px;line-height: 30px;color: #780429;">
                                <img src="img/information.svg" alt="information">
                                Votre session a expiré
                            </h2>
                            <p style="margin-bottom:30px;font-weight: 400;font-size: 16px;line-height: 30px;color: #494949;">
                                Vous pouvez à nouveau prendre un ticket pour entrer dans la file
                            </p>
                            <button @click="newTicket" class="mt-5 mb-3" style="text-decoration:none;border: 2px solid #780429;border-radius: 5px;display: inline-block;padding: 10px 30px;">
                                <div class="d-flex align-items-center">
                                    <img src="img/ticket.svg" alt="ticket">
                                    <span style="text-transform:uppercase;font-weight: 700;font-size: 20px;line-height: 25px;color: #780429;padding-left: 10px;">PRENDRE UN NOUVEAU TICKET</span>
                                </div>
                            </button>
                        </section>
                    </div>
                    <div v-else-if="nb_devant === 0">
                        Vous pouvez accèder à la vente ! Votre session est valide 15 minutes.
                        <br>
                        <button @click="enter" class="mt-5" style="background-color:white;text-decoration:none;border: 2px solid #780429;border-radius: 5px;display: inline-block;padding: 10px 30px;"><span style="text-transform:uppercase;font-weight: 700;font-size: 20px;line-height: 25px;color: #780429;padding-left: 10px;">Accèder à la vente</span></button>
                    </div>
                    <div v-else>
                        <p>
                            Il y a <span style="color: #780429;font-weight: bold">{{nb_devant}} personnes</span> devant vous.
                        </p>
                        <p>
                            Votre place est actualisée toutes les <span style="color: #780429;font-weight: bold">30 secondes.</span>
                        </p>
                    </div>
                </div>
            </div>


        </div>

        <!--
        <div style="margin-top: 100px;">
            DEBUG :
            <button @click="loadProgression">Refresh</button>
            <button @click="newTicket">New ticket</button>
            <button @click="reset">Reset</button>
            <button @click="enter">Enter</button>
        </div>
        -->
    </div>

    <!--<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>-->

    <!-- production version, optimized for size and speed -->
   <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>

    <script src="app.js"></script>
</body>
</html>
